@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@1,600&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poltawski+Nowy:ital,wght@1,600&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Dancing+Script:wght@600&family=Poltawski+Nowy:ital,wght@1,600&family=Sigmar&display=swap');




:root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
	grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
    ;
    grid-template-rows: auto auto auto ;
    grid-template-columns: auto auto auto;
    overflow-x: hidden;
}


.listCent {
    display: flex;
    justify-content: center;
}

#header{
	grid-area: header;
}

#main {
    height: 100vh;
    width: 100vw;
	color: aliceblue;
	background: rgb(17,27,19);
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-area: main;
	padding-top: 5rem ;
	padding-bottom: 5rem;
}


#footer {
    background-color: rgb(6, 12, 7);
    height: 4rem;
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer li {
    list-style: none;
    align-items: center;
}

.cont_list{
    display: flex;
    flex-direction: row;
}

#footer a {
    font-size: 35px;
    text-decoration: none;
	color: azure;
}


/*------------  index separado -------------- */


.sect {
    display: block;
    width: 29rem;
}

.tGrande {
    font-size: 65px;
}
.sect  h3 {
    font-family: 'Crimson Text', serif;
}


.foto {
    width: 450px; ;
    height: 600px;
    border:solid 1px #2c6834;
    border-radius: 18px 0px 18px 0;
	margin-top: 3rem;
	margin-bottom: 6rem;
}


/*--------------------- ABOUT ------------------*/


.sectAbout {
    display: block;
    position: absolute;
    top: 18rem;
    left: 10rem;
    width: 450px;
}

.btn-1{
	width: 50%;
	padding: 0.5rem 1rem;
	background-color: #2c6834;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn-1:hover{
    background-color: #27ae60;
}












/* ------------------------ CONTACT ------------------------- */

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.right h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	color: black;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2c6834;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #21c063;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}










/* ------------------------- MEDIA QUERY----------------------- */

@media screen and (max-width:1300px ){
	/* ---------------------------- iNDEX ---------------------- */
	.tGrande {
		font-size: 50px;
	}
	.sect h3 {
		font-size: 30px;
	}
	.main_foto{
		width: 350px; ;
		height: 500px;
	}
	.foto {
		width: 350px; ;
		height: 500px;
	}



}

@media screen and (max-width:930px ){
	#main{
		flex-direction: column;
	}

	.sect {
		width: 22rem;
	}

}
@media screen and (max-width:930px ){
	.sect {
		width: 21rem;
	}
	.tGrande {
		font-size: 35px;
	}
	.main_foto{
		width: 300px;
		height: 450px;
	}
	.foto {
		width: 300px;
		height: 450px;
	}


}

@media screen and (max-width:470px ){
	.sect {
		width: 16rem;
	}
	.tGrande {
		font-size: 35px;
	}
	.sect h3 {
		font-size: 15px;
	}
	.main_foto{
		width: 250px; ;
		height: 400px;
	}
	.foto {
		width: 250px;
		height: 400px;
	}
}


